/*na így kell itt a csébe*/
h1{
    font-weight: bolder;
    font-size: 52px;
    background-color: rgb(125, 189, 21);
    border: 42px;
    float: right;
    border-top-right-radius: 22px;
    padding: 15px;
    color: rgb(88, 4, 4);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    font-weight: bolder;
    font-size: 42px;
    background-color: rgb(117, 173, 26);
    border: 32px;
    float: left;
    border-bottom-right-radius: 22px;
    padding: 15px;
}
h3{
    font-weight: bolder;
    font-size: 32px;
    background-color: rgb(121, 165, 51);
    border: 32px;
    float: right;
    border-bottom-right-radius: 22px;
    padding: 15px;
}
h4{
    font-weight: bolder;
    font-size: 22px;
    background-color: rgb(114, 167, 30);
    border: 32px;
    float: left;
    border-bottom-right-radius: 22px;
    padding: 15px;
}

h5{
    font-size: 4px;
    background-color: rgb(176, 221, 104);
    border: 42px;
    float: left;
    border-top-right-radius: 22px;
    text-shadow: 70%;
    color: rgb(137, 7, 7);
    padding: 15px;
}
body {
    background-color: rgb(88, 148, 218);
    background-size: cover;
    background-image: url(images/TilosArc.jpg), url(images/Plank.jpg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: right center;

}

.conti {
    background-image: url(images/plank.jpg);
    border: salmon;
    margin: 90px;
    padding: 25px;
}